#####################################################################
#
# Configuration file for PharmaGist program
#
#####################################################################

########################### Filenames and paths #####################
# path to jmol files
jmol-path /home/edward/Documentos/Farmacoforo/N-terminal/PharmaGist_3/jmol-14.31.34/
# torsion definitions
drive-table-file-name /home/edward/Documentos/Farmacoforo/N-terminal/PharmaGist_3/dock_flex_drive2.tbl
definition-table-file-name /home/edward/Documentos/Farmacoforo/N-terminal/PharmaGist_3/dock_flex.defn

########################### Output parameters ######################
# maximal number of pharmacophores to output for each number of 
# molecules in the alignment
output-results-number 10
# number of database search high scoring hits 
# that will be output for visualization
output-dbsearch-results-number 15
# minimal number of common features
min-actual-num-of-features 3
# show mol2name (0-default) or just filename (1)
mol2-name-show 1

########################### Performance/speed related ##############
# number of pairwise alignments for each molecule
# this number is further used in pharmacophore search
# if your molecules are very similar, it is recommended
# to reduce this number
K-multiple 1500
# number of pairwise alignments for database search stage
K-pairwise 300
# for more sensitive (but slower) pairwise alignment use 1
# if the molecules are very similar use 0
# 0 - don't add extra votes, 1 - add
add-votes-translation 1
add-votes-rotation 1
# align with all pivots in pharmacophore cluster during database search
# 0 - don't, 1 - iterate all
dbsearch-iterate-all-cluster-pivots 0

########################### Feature Parameters ######################
## Feature weights in scoring function
# if you know specific feature is more important for interaction 
# with your receptor, you can increase its weight
aromatic-ring-score 3.0
charge-score 1.0
HB-score 1.5
hydrophobic-score 0.3

## Feature definition parameters
# The maximum allowed angle (in degrees) between ring atom and 
# the plane of the ring
aromatic-ring-planarity-tolerance 10
anion-threshold -0.4
cation-threshold 0.4
# Charge Definition: 0 - by fFlash (acid/base) definition, 
# 1 - by partial charges field in the input file
charge-definition 0
hydrophobic-partial-charge-threshold 0.15
# By default only aliphatic groups are considered as potential hydrophobic features.
# The 2 flags below consider additional groups: 
# 1 - consider also aromatic groups as potential hydrophobic features
hydrophobic-aromatic 0
# 1 - consider also methyl groups as potential hydrophobic features
hydrophobic-methyl 1

## Feature matching parameters
# The maximum allowed distance between the centers of two matched
# features. 
feature-center-distance-match-tolerance 1.4
cluster-feature-center-distance-match-tolerance 1.5
aromatic-feature-center-distance-match-tolerance 1.8
# maximal angle (in degrees) between the normals of two matched hydrogen bonds
HB-direction-threshold 60
# maximal angle (in degrees) between the normals of two matched aromatic rings. 
aromatic-ring-normal-angle-match-tolerance 40.0

# ----------------------
# User-Defined Features:
# ----------------------
# Additional feature type can be defined by the user. A feature file in the following format has to be prepared. Each line in the feature file corresponds to one input molecule specified by its filename. Next user defined features are listed separated by semicolon. The atoms of the features are identified by their atom number in mol2 file. In the example below, three input molecules are assigned with user defined features. adinazolam.mol2 is assigned with two features located on atoms number 13 and 17, amiodarone.mol2 is assigned with two features located on atoms number 28 and 30 and azelastine.mol2 is assigned with one feature located on atom number 24.

# adinazolam.mol2 13;17
# amiodarone.mol2 28;30
# azelastine.mol2 24

# In addition, the user can define a feature based on a group of atoms. In this case, the spatial 3D point associated with this feature will be an average of the atom group coordinates. To specify a group of atoms in the feature file, just type their numbers, separated by comas. For example:

# adinazolam.mol2 13,14,15;17

# This defines two features, the first one is an average of atoms 13,14,15 and the second one is on atom number 17. 


#define-carboxy-ester-features 0
#user-def-feature-score 10.0
#user-def-feature-file feature_file_name


########################### Log Parameters ##########################
#
log-file pharmacophore.log
#
# The avaible log levels are:
# 0 - only error messages
# 1 - error and warning messages
# 2 - error, warning and general information messages
# 3 - error, warning, general information and debug messages
log-level 3
#

###################  Advanced parameters ############################

# pairwise alignment parameters
basis-area-threshold 1.0
basis-triangle-side-length-threshold 0.3
cluster-max-dist 0.5
hinge-hash-tolerance 0.5

# Atom match parameters 
# weight in rigid group score
atom-score-vote-weight 0.5
# weight in pairwise alignment score 
atom-score-pairwise-weight 0.1

# 1. both normal 2. normal pivot + dummy scene 3. dummy pivot + normal scene 4. both dummy
points-type 1
dummy-point-sampling 0

# 0 - don't, 1 - compute paths
compute-expansion-paths 1
 

########################### Volume Grid Parameters ##################
#
# weight of score in scoring function
# the score values are in 0-1 range
# set zero if you don't want it to be computed
volume-score-weight 2
volume-grid-delta 0.2
# The possible values are 0 or 1
whole-molecule-volume-grid 0
#
volume-sampling-density 0.7
#
# volume constraint: 0 - off, 1 - on
volume-constraint 0

########################### Evaluation Parameters ######################
#
evaluation-feature-center-distance-match-tolerance 1.5
#
